{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<!--[if lt IE 8]><script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/ie6-not-supported.js" ></script><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="keywords" content="">
<meta name="author" content="Elizabeth Oliva">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/eo.png' %}">
<title>{% block title %} {% endblock%}</title>
<link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block css %}
{% endblock %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% block js %}
{% endblock %}
</head>
<body>
	<header id="home" class="cabecera">
		<div class="wrapper">
			<div class="redes">
				<a href="https://facebook.com/*"><div class="facebook"></div></a>
				<a href="https://instagram.com/*"><div class="instagram"></div></a>
			</div>
			<a href="{% url 'homepageindex' %}"><img src="{% static 'img/logo.png' %}" alt="Logo elizabeth oliva"></a>
			<nav class="barraNavegacion">
				<a href="{% url 'homepageindex' %}">Home</a>
				<a href="{% url 'homepageabout' %}">About</a>
				<a href="{% url 'homepageservices' %}">Services</a>
				<a href="{% url 'homepagegallery' %}">Gallery</a>
				<a href="/blog">Blog</a>
				<a href="{% url 'homepagecontact' %}">Contact</a>
			</nav>
			<select class="barraNavegacionSelect"> 
				<option value="" selected="selected">Menu</option> 
				<option value="{% url 'homepageindex' %}">Home</option> 
				<option value="{% url 'homepageabout' %}">About</option>
				<option value="{% url 'homepageservices' %}">Services</option>
				<option value="{% url 'homepagegallery' %}">Gallery</option>
				<option value="/blog">Blog</option>
				<option value="{% url 'homepagecontact' %}">Contact</option>
			</select>
		</div>
	</header>
	<section class="contenido">
		{% block contenido %} {% endblock%}
	</section>
	{% block clear %} {% endblock %}
	<footer>
		{% block footer %}{% endblock%}
		<div class="wrapper">
			<div class="footer-der">
				<div class="barraNavegacionFooter">
					<a href="{% url 'homepageindex' %}">Home</a> |
					<a href="{% url 'homepageabout' %}">About</a> |
					<a href="{% url 'homepageservices' %}">Services</a> |
					<a href="{% url 'homepagegallery' %}">Gallery</a> |
					<a href="/blog">Blog</a> |
					<a href="{% url 'homepagecontact' %}">Contact</a>
				</div>
				<div class="copyRight">Elizabeth Oliva © Copyright 2015 - All rights reserved.</div>
			</div>
			<div class="footer-izq">
				<a href="{% url 'homepageindex' %}"><img src="{% static 'img/logo.png' %}" alt="Logo elizabeth oliva"></a>
				<div class="phoneFooter">Phone: 305 989 1513</div>
				<div class="emailFooter">Email: <a href="mailto:elizabeth@elizabetholiva.us">elizabeth@elizabetholiva.us</a></div>
			</div>	  
			<div class="redes">
				<a href="https://facebook.com/*"><div class="facebook"></div></a>
				<a href="https://instagram.com/*"><div class="instagram"></div></a>
			</div>
		</div>
	</footer>
	<!-- Nav -->
	<script>
	$("select.barraNavegacionSelect").change(function() {
	    window.location = $(this).find("option:selected").val();
	});    
	</script>
	{% block jsBottom %}
	{% endblock %}
		<!-- Analytics SCRIPT GOOGLE! -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64560842-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>