h1{
	font-size: 3em;
	margin: 0;
}

/*abouther */

.imagenher{
	margin-top: 30px;
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
.imagenher img{
	width: 100%;
}
.abouther{
	margin-top: 30px;
	display: inline-block;
	width: 55%;
	vertical-align: top;
	padding: 0 2%;
	line-height: 2.2em;
}
/*philo*/
.philosophy .titlePhilo{
	color: #AE1D3F;
}
.violeta{
	color: #AE1D3F;
}
.philosophy .violeta{	
	font-size: 3em;
}
.philosophy .philomessage{
	text-transform: uppercase;
	font-size: 3em;
	color: #8E8E8E;
	font-style: italic;
}
/* testimonials */
.testimonialabout h2{
	margin-bottom: 5%;
}
.testimonialabout{
	margin-bottom: 30px;
}
.testimonialabout img{
	width: 29%;
	display: inline-block;
}
.testimonialabout .description{
	display: inline-block;
	vertical-align: top;
	width: 66%;
	line-height: 2em;
	padding: 0 2%;
}
.infoContacto, .gallery{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
.gallery{
	padding-top: 10%;
}
@media screen and (max-width: 1000px){
	
}
@media screen and (max-width: 730px){
	.imagenher, .abouther{
		width: 95%;
	}
	.philosophy {
		width: 95%;
	}
	.infoContacto, .gallery {
		width: 98%;
	}
	form {
		margin: 0;
	}
	form p {
		padding: 0 7%;
	}
	.testimonialabout .description {
		width: 68%;
	}
}

