h2{
	text-align: center;
	text-transform: uppercase;
}
.contactDer, .contactIzq{
	margin-top: 15px;
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.infoContacto{
	font-size: 1.5em;
  	text-align: center;
  	color: #808080;
}
.contactDer img{
	max-width: 100%;
}
.flexslider {
	background: none !important;
	border: none !important;
}
.infotext{
	color: #808080;
}

@media screen and (max-width: 1000px){
	textarea{
		width: 98%;
	}
}
@media screen and (max-width: 730px){
	.contactDer, .contactIzq {
		width: 100%;
	}
	form {
		margin: 0;
	}
	form p {
		padding: 0 7%;
	}
	.infoContacto {
		font-size: 1em;
		margin-bottom: 30px;
	}
	textarea{
		width: 98%;
	}
}