{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
About - Elizabeth Olive
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/quienesomos.css' %}">
{% endblock %}
{% block js %}
{% endblock %}
{% block contenido %}
<section class="quienessomos">
	<div class="wrapper">
		<div class="imagenher">
			<img src="" alt="">
		</div>
		<div class="abouther">
			<h1>About elizabeth olive</h1>
			<p>Elizabeth Oliva began her career XX years ago when her innate talent couldn’t go unnoticed by colleagues and friends. Her natural instinct to transform and her desire to help people achieve their ideal image drove her to become an <span>Image Consultant and Style Professional.</span> Elizabeth mastered the art of Image, Fashion, Style, and Make up Artistry with the Sterling Style Academy and with the renowned Gabriel Noda.</p>
			<p>Of Cuban origins, Elizabeth has lived in the United States for thirty years. Some of her experience in the industry include working as a stylist and décor specialist for prominent beauty salons, galleries, and interior design companies in Miami and New York.</p>
			<p>Elizabeth’s goal is to help anyone from the young to the elder, from the professional to the housewife to <span>look good, be happy, and enjoy success.</span> Her advise and expertise will be that push setting you apart from others in your field, and finally you will get to express who you really are.</p>
		</div>
		<div class="philosophy">
			Her Philosophy: "Your image is the image of your soul"
		</div>
	</div>
</section>
{% endblock%}