{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Contact - Elizabeth Olive
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/contact.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock css%}
{% block js %}
<script type="text/javascript" src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
{% endblock %}
{% block contenido %}
	<section class="fondoContacto">
		<div class="wrapper">
			<div class="tituloStyle">
				<h2>Contact</h2>
			</div>
			<div class="banner">
					<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="{% static 'img/gallery.png' %}" alt="slider casual guys">
			</li>
			<li>
				<img src="{% static 'img/gallery2.png' %}" alt="slider fancy">
			</li>
			<li>
				<img src="{% static 'img/gallery3.png' %}" alt="slider suits">
			</li>
		</ul>
	</div>
			</div>
			<div class="contactDer">
				<img src="{% static 'img/biografia.jpg' %}" alt="Photo Elizabeth Oliva">
				<section class="testimonials">
					<h2>Testimonials</h2>
					{% for testi in testimonials %}
					<div class="testimonial">
						<img src="{{testi.photo.url}}" alt="{{testi.name}}">
						<div class="description">
							<div class="name">{{testi.name}}</div>
							<p>{{testi.description}}</p>
						</div>
					</div>
					{% endfor %}
				</section>
			</div>
			<div class="contactIzq">
				<section class="infoContacto">
					<h3>Call us:</h3>305 989 1513
					<h3>Email us:</h3>elizabeth@elizabetholive.us
				</section>
				{% if success %}
				<div class="mensajeenviado">
					<div class="enviado">Su mensaje ha sido enviado correctamente, pronto nos pondremos en contacto con usted.</div>
					<img class="sobre" src="{{ STATIC_URL }}img/sobre.png" alt="formulario de contacto">	
				</div>
				{% else %}
				{% if form.errors %}
				<p>
					Por favor corregir los errores debajo.
				</p>
				{% endif %}
				<form action="#" method="POST">
					<h3 class="titleform">Fill out the form</h3>
					{% csrf_token %}
					{{ form.as_p }}
					<div class="botonEnviar">
						<input type="submit">
					</div>
				</form>
				{% endif %}				
			</div>		
		</div>
	</section>
{% endblock%}
{% block jsBottom %}
<script>
	$('.flexslider').flexslider({
		slideshowSpeed: 7000,
		// start: function(slider) {
		//       slider.flexAnimate(slider.getTarget("next"));
		//    }
		});
</script>
{% endblock %}