{% extends "base.html" %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="">
{% endblock%}
{% block title %}
Home - Elizabeth Olive
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock css%}
{% block js %}
<script type="text/javascript" src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
	<section class="bannerPrincipal">
		  <iframe id="iframe1" frameborder="0" height="100%" width="100%" 
		    data-src="https://youtube.com/embed/Xa0GbjFrxsk?autoplay=1&controls=0&showinfo=0&autohide=1">
		  </iframe>
			<div class="banner">
				<img src="{% static 'img/gallery2.png' %}" alt="slider fancy">
			</div>
	</section>
	<div class="wrapper">
		<section class="services">
			<h2>Services</h2>
			<h3>Color Analysis</h3>
			<p>Look the best of yourself by learning what colors enhance your natural beauty.</p>
			<h3>Body Style Analysis</h3>
			<p>Select the right clothing for your body type, know your measurements, know your goals, learn how to instantly choose your perfect garment.</p>
			<h3>Wardrobe Evaluation</h3>
			<p>Be objective about what you have in your closet. Get rid of all the unnecessary items, make a list of the one you must have, the ones that make it easy, have fun, and get the best of you!</p>
			<h3>Personal Shopping</h3> 
			<p>Get Pampered! Shopping stress you out? We capture your true style, go to your favorite store, and buy for you the garments that go with your personal style and body shape.</p>
			<h3>Styling Outfits</h3>
			<p>Even within your own closet, create new styles, play with colors, match pieces that you never thought of, and undertake your true unique style.</p>
			<h3>Photo & Event Preproduction</h3>
			<p>Don't leave it to the luck! We will help you be ready for that coming event, make the most of your time and image, and transcend!</p>	
		</section>
		<section class="elizabeth">
			<h2>Elizabeth</h2>
			<div class="gallery">
				{% include 'gallerypath/llamadoaccion.html' %}
			</div>
			<img src="{% static 'img/getthebest.png' %}" alt="Get the best of you!">
		</section>
	</div>
	<div class="wrapper">
		<section class="infoContacto">
			<h2>Contact us</h2>
			<form action="#" method="POST">
				<h3 class="titleform">Fill out form</h3>
				{% csrf_token %}
				{{ form.as_p }}
				<div class="botonEnviar">
					<input type="submit">
				</div>
			</form>
		</section>
		<section class="testimonials">
				<h2>Testimonials</h2>
				{% for testi in testimonials %}
				<div class="testimonial">
					<img src="{{testi.photo.url}}" alt="{{testi.name}}">
					<div class="description">
						<div class="name">{{testi.name}}</div>
						<p>{{testi.description}}</p>
					</div>
				</div>
				{% endfor %}
		</section>
	</div>
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Back to top</a>
	</div>
{% endblock%}
{% block jsBottom %}
<script>
	$( document ).ready(function() {      
	    var isMobile = window.matchMedia("only screen and (max-width: 1000px)");
	    if (isMobile.matches) {
	        $('#iframe1').remove()
	        $('.flexsliderbanner').show()
	        //Conditional script here
	    }else{
			$('#iframe1').attr( 'src',  $('#iframe1').data('src'));
			$('.bannerPrincipal').append('<iframe id="iframe1" frameborder="0" height="100%" width="100%" data-src="https://youtube.com/embed/Xa0GbjFrxsk?autoplay=1&controls=0&showinfo=0&autohide=1"></iframe>')
	    }
	 });
	$('.flexslider').flexslider({
		slideshowSpeed: 7000,
		// start: function(slider) {
		//       slider.flexAnimate(slider.getTarget("next"));
		//    }
		});
</script>
{% endblock %}